@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');

body {
    font-family: 'Oleo Script Swash Caps', cursive;
    color: #B36A5E;
}
article {
    display: inline-block;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.10);
    background-color: #EED7C5;
}
img {
    width: 300px;
    height: auto;
    border: 8px solid #B36A5E;
    border-radius: 180px;
}
h2 {
    text-align: center;
    font-size: 60px;
    margin: 0px;
}